.App {
  display: flex;
  max-width: 30%;
  justify-content: center;
  margin: 100px auto;
  flex-direction: column;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
